template(name="gameCard")
	.col-xs-12.col-sm-6.col-md-6.col-lg-6
		.panel(class="#{panelClass}")
			.panel-heading
				h2.panel-title.text-center
					a(href="{{pathFor 'gameDetailsWrapper'}}") #{player1Data.fullName} vs #{player2Data.fullName}
			.panel-body
				.col-xs-6.col-sm-6.col-md-6.col-lg-6
					p.text-center {{_ "score"}}
					p.text-center {{_ "lastScore"}}
					p.text-center {{_ "newScore"}}
				.col-xs-6.col-sm-6.col-md-6.col-lg-6
					p.text-center #{scorePlayer1} - #{scorePlayer2}
					p.text-center #{lastPointsPlayer1} - #{lastPointsPlayer2}
					p.text-center #{newPointsPlayer1} - #{newPointsPlayer2}