template(name="gameDetails")
	with gameData
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				.panel(class="#{panelClass}")
					.panel-heading
						h2 {{_ "gameStats"}}
							small #{gameDateFromNow}
					table.table.table-condensed.table-responsive
						thead
							tr
								th #
								th #{player1FullName}
								th #{player2FullName}
								th {{_ "diff"}}
						tbody
							tr
								td {{_ "score"}}
								td #{scorePlayer1}
								td #{scorePlayer2}
								td #{scoreGap}
							tr
								td {{_ "lastScore"}}
								td #{lastPointsPlayer1}
								td #{lastPointsPlayer2}
								td #{lastPointsGap}
							tr
								td {{_ "newScore"}}
								td #{newPointsPlayer1}
								td #{newPointsPlayer2}
								td #{newPointsGap}
							tr
								td {{_ "kBase"}}
								td #{kBasePlayer1}
								td #{kBasePlayer2}
								td #{kBaseGap}
							tr
								td {{_ "gain"}}
								td #{player1Gain}
								td #{player2Gain}
								td #{gainGap}
	.panel.panel-default
		.panel-heading
			h2 {{_ "historyGraph"}}
		.panel-body
			#historyGraph