template(name="home")
	.panel.panel-default
		.panel-heading
			h3 {{_ "saveAScore"}}
		.panel-body
			if currentUser
				form
					.row
						.col-xs-6.col-sm-6.col-md-6.col-lg-6
							.panel.panel-default
								.panel-body
									.form-group
										label(for='player1Name') {{_ "player1Name"}}
										input#player1Name.form-control.awesomplete(type='text' list="player1List")
										datalist#player1List
											each player1List
												option(data-id="#{_id}") #{profile.firstName} #{profile.lastName}
									.form-group
										label(for='player1Score') {{_ "score"}}
										input#player1Score.form-control(type='number' min="0" step="1" value="0")
						.col-xs-6.col-sm-6.col-md-6.col-lg-6
							.panel.panel-default
								.panel-body
									.form-group
										label(for='player2Name') {{_ "player2Name"}}
										input#player2Name.form-control.awesomplete(type='text' list="player2List")
										datalist#player2List
											each player2List
												option(data-id="#{_id}") #{profile.firstName} #{profile.lastName}
									.form-group
										label(for='player2Score') {{_ "score"}}
										input#player2Score.form-control(type='number' min="0" step="1" value="0")
					.row
						.col-md-12.col-lg-12
							button#addAGame.btn-block.btn.btn-success(type='submit') {{_ "validate"}}
			else
				h2.text-center {{_ "logInToSaveAGame"}}
	.panel.panel-default
		.panel-heading
			h3 {{_ "lastGames"}}
		.panel-body
			.row
				each lastGames
					.col-xs-12.col-sm-6.col-md-6.col-lg-6
						.panel(class="#{panelClass}")
							.panel-heading
								h2.panel-title.text-center #{player1Data.fullName} vs #{player2Data.fullName}
							.panel-body
								.col-xs-6.col-sm-6.col-md-6.col-lg-6
									p.text-center {{_ "score"}}
									p.text-center {{_ "lastScore"}}
									p.text-center {{_ "newScore"}}
								.col-xs-6.col-sm-6.col-md-6.col-lg-6
									p.text-center #{scorePlayer1} - #{scorePlayer2}
									p.text-center #{lastPointsPlayer1} - #{lastPointsPlayer2}
									p.text-center #{newPointsPlayer1} - #{newPointsPlayer2}