template(name="home")
	h1 {{_ "lastGames"}}
	.row
		each lastGames
			if over10
				.col-xs-6.col-sm-4.col-md-3.col-lg-3
					.panel.panel-info
						.panel-heading
							h2.panel-title #{player1Data.fullName} vs #{player2Data.fullName}
						.panel-body
							p.text-center #{scorePlayer1} - #{scorePlayer2}
			else
				if smallScoreGap
					.col-xs-6.col-sm-4.col-md-3.col-lg-3
						.panel.panel-warning
							.panel-heading
								h2.panel-title #{player1Data.fullName} vs #{player2Data.fullName}
							.panel-body
								p.text-center #{scorePlayer1} - #{scorePlayer2}
				else
					if bigScoreGap
						.col-xs-6.col-sm-4.col-md-3.col-lg-3
							.panel.panel-success
								.panel-heading
									h2.panel-title #{player1Data.fullName} vs #{player2Data.fullName}
								.panel-body
									p.text-center #{scorePlayer1} - #{scorePlayer2}
					else
						.col-xs-6.col-sm-4.col-md-3.col-lg-3
							.panel.panel-default
								.panel-heading
									h2.panel-title #{player1Data.fullName} vs #{player2Data.fullName}
								.panel-body
									p.text-center #{scorePlayer1} - #{scorePlayer2}
