template(name="ranking")
	.panel.panel-default
		.panel-heading
			h2 {{_ "rankingEvolution"}}
		.panel-body
			#rankingGraph
	.panel.panel-default
		.panel-heading
			h2 {{_ "ranking"}}
		table.table
			caption {{_ "nbGamesLimit"}}
			thead
				tr
					th #
					th {{_ "playerName"}}
					th {{_ "points"}}
						span.glyphicon.glyphicon-arrow-up
					th {{_ "nbGames"}}
					th {{_ "last10GamesPerf"}}
			tbody
				each playerData
					tr
						td #{index}
						td #{fullName}
						td #{currentPoints}
						td #{nbGames}
						td #{last10GamesPerf}