template(name="ranking")
	.panel.panel-default
		.panel-heading
			h2.panel-title {{_ "ranking"}}
		table#championshipRankingTable.table.table-condensed.table-responsive
			caption {{_ "nbGamesLimit"}}
			thead
				tr
					th #
					th {{_ "playerName"}}
					th {{_ "points"}}
						span.glyphicon.glyphicon-arrow-up
					th {{_ "nbGames"}}
					th {{_ "last10GamesPerf"}}
			tbody
				each playerData
					tr
						td #{index}
						td #{fullName}
						td #{currentPoints}
						td #{nbGames}
						td #{last10GamesPerf}
	.panel.panel-default
		.panel-heading
			h2.panel-title {{_ "rankingEvolution"}}
			small {{_ "last5Games"}}
		.panel-body
			#rankingGraph