template(name="champRanking")
	if Template.subscriptionsReady
		.panel.panel-default
			.panel-heading
				h2.panel-title {{_ "ranking"}}
			table#championshipRankingTable.table.table-condensed.table-responsive
				caption {{_ "nbGamesLimit" nbGames=champInfos.numberOfGamesToBeDisplayedInTheRanking}}
				thead
					tr
						th #
						th {{_ "playerName"}}
						th {{_ "points"}}
							span.glyphicon.glyphicon-arrow-up
						th {{_ "nbGames"}}
						th {{_ "last10GamesPerf"}}
				tbody
					each playersRanking
						tr(class="#{colorClass}")
							td {{myIndex @index}}
							td #{profile.fullName}
							td #{currentPoints}
							td #{nbGames}
							td #{last10GamesPerf}
	else
		+spinner