template(name="gameCard")
	if Template.subscriptionsReady
		.col-xs-12.col-sm-6.col-md-6.col-lg-6
			.panel(class="#{panelClass}")
				.panel-heading
					h2.panel-title.text-center
						a(href="{{pathFor 'gameDetails'}}") #{player1FullName} vs #{player2FullName}
							small #{gameDateFromNow}
				table.table
					thead
						tr
							th #
							th #{player1FullName}
							th #{player2FullName}
					tbody
						tr
							td {{_ "score"}}
							td #{scorePlayer1}
							td #{scorePlayer2}
						tr
							td {{_ "lastScore"}}
							td #{lastPointsPlayer1}
							td #{lastPointsPlayer2}
						tr
							td {{_ "newScore"}}
							td #{newPointsPlayer1}
							td #{newPointsPlayer2}
						tr
							td {{_ "gain"}}
							td #{player1Gain}
							td #{player2Gain}
	else
		+spinner